.footer{
    padding: 4.625rem 0.625rem 0;
    background-color: $dark-blue-3;

    &__container {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 1.25rem;

        @media (min-width: $large-tablet) {
            padding: 0 2.8125rem;
            max-width: 77.625rem;
        }
    }

    &__logo img{
        max-width: 11rem;
        height: auto;
        margin-bottom: 1.875rem;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        width: 100%;
        
        &:not(:first-child) {
            margin-bottom: 2.5rem;
        }

        &:nth-child(2) {
            .footer__box {
                align-items: center;

                &:first-child {
                    margin-bottom: 0.4375rem;
                }
            }
        }

        
        @media (min-width: $small-tablet) {
            &:nth-child(3), &:nth-child(4) {
                width: 50%;
            }
        }

        @media (min-width: $large-tablet) {
            width: 50%;
        }

        @media (min-width: $desktop) {
            &:nth-child(1), &:nth-child(2) {
                width: 30%;
                padding-right: 0.625rem;
            }
            &:nth-child(3), &:nth-child(4), &:nth-child(5) {
                width: 13.33333333333333%;
            }
        }
    }

    &__box {
        display: flex;
    }

    &__info-icon {
        // display: block;
        width: 2rem;
        height: 2rem;
        font-size: 20px;
        line-height: 0.9375rem;
        color: $white-color;
        text-align: center;
        margin-right: 1.125rem;
        padding: 0.4375rem;
    }

    &__paragraph {
        font-family: $body-font;
        color: $white-color;
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 0.4375rem;
    }
    
    &__info-paragraph {
        font-family: $body-font;
        color: $white-color;
        font-size: 0.875rem;

    }

    &__heading-link {
        display: block;
        font-family: $heading-font;
        color: $white-color;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    &__link {
        display: block;
        font-family: $body-font;
        color: $white-color;
        font-size: 1rem;
        font-weight: 400;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__social {
        text-align: center;
    }

    &__social-icon {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border: 1px solid $white-color;
        border-radius: 50%;
        font-size: 0.875rem;
        line-height: 2rem;
        text-align: center;
        color: $white-color;
        margin-left: 0.375rem;
        margin-right: 0.375rem;
        transition: all 0.3s ease;

        &:hover{
            border: 1px solid $cyan-color;
            color: $cyan-color;
        }
    }

    .attribution{
        text-align: center;
        font-size: 0.75rem;
        color: $white-color;
        padding-bottom: 0.625rem;
    }

    .attribution a{
        color: $cyan-color;
    }

    
}