.productive{
    background-color: $dark-blue-2;
    padding: 50px 0 84px;
    &__container{
        margin-left: auto;
        margin-right: auto;

        @media (min-width: $large-tablet) {
            max-width: 1222px;
        }
    }
    &__flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item{
        width: 100%;
        padding: 23px 27px;

        @media (min-width: $small-tablet) {
            width: 50%;
        }

        @media (min-width: $large-tablet) {
            &:last-child{
                padding-left: 56px;
            }
        }

    }
    // &__img{}

    &__heading{
        font-family: $heading-font;
        color: $white-color;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 22px;
        
        @media (min-width: $large-tablet) {
            font-size: 40px;
        }
    }

    &__paragraph{
        font-family: $body-font;
        color: $white-color;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 19px;

        @media (min-width: $large-tablet) {
            font-size: 16px;
        }
    }
    &__btn{
        font-family: $heading-font;
        color: $cyan-color;
        font-size: 12px;
        padding: 6px 0;
        border-bottom: 2px solid $cyan-color;
        transition: all 0.3s ease;

        @media (min-width: $large-tablet) {
            font-size: 16px;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}