$dark-blue-1: hsl(217, 28%, 15%);
$dark-blue-2: hsl(218, 28%, 13%);
$dark-blue-3: hsl(216, 53%, 9%);
$dark-blue-4: hsl(219, 30%, 18%);

$cyan-color:hsl(176, 68%, 64%);
$blue-color:  hsl(198, 60%, 50%);
$light-red: hsl(0, 100%, 63%);
$white-color:  hsl(0, 0%, 100%);

$heading-font: 'Raleway', sans-serif;
$body-font: 'Open Sans', sans-serif;

$small-tablet: 576px;
$large-tablet: 770px;
$desktop: 1030px;